.card {
  position: relative;
  padding-top: 80vh;
  width: 25%;
  overflow: hidden;
  transition: 0.3s;
}

.card-text {
  color: #fff;
  font-size: 25px;
  z-index: 1;
}

.card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;

  .parallax-outer,
  .parallax-inner,
  .card-overlay,
  img {
    position: absolute;
    width: 150%;
    height: 110%;
    object-fit: cover;
    top: -30px; right: -30px; bottom: -30px; left: -30px;
  }

  .card-overlay {
    background: rgba(#000, 0.4);
    z-index: -1;
  }
  img {
    z-index: -2;
  }
}